// Make the div behave like a button
.bt-btn-group,
.bt-btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle; // match .bt-btn alignment given font-size hack above

  >.bt-btn {
    position: relative;
    flex: 1 1 auto;
  }

  // Bring the hover, focused, and "active" buttons to the front to overlay
  // the borders properly
  >.bt-btn-check:checked+.bt-btn,
  >.bt-btn-check:focus+.bt-btn,
  >.bt-btn:hover,
  >.bt-btn:focus,
  >.bt-btn:active,
  >.bt-btn.active {
    z-index: 1;
  }
}

// Optional: Group multiple button groups together for a toolbar
.bt-btn-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .bt-input-group {
    width: auto;
  }
}

.bt-btn-group {
  @include border-radius($btn-border-radius);

  // Prevent double borders when buttons are next to each other
  > :not(.bt-btn-check:first-child)+.bt-btn,
  >.bt-btn-group:not(:first-child) {
    margin-left: calc(#{$btn-border-width} * -1); // stylelint-disable-line function-disallowed-list
  }

  // Reset rounded corners
  >.bt-btn:not(:last-child):not(.bt-dropdown-toggle),
  >.bt-btn.bt-dropdown-toggle-split:first-child,
  >.bt-btn-group:not(:last-child)>.bt-btn {
    @include border-end-radius(0);
  }

  // The left radius should be 0 if the button is:
  // - the "third or more" child
  // - the second child and the previous element isn't `.bt-btn-check` (making it the first child visually)
  // - part of a btn-group which isn't the first child
  >.bt-btn:nth-child(n + 3),
  > :not(.bt-btn-check)+.bt-btn,
  >.bt-btn-group:not(:first-child)>.bt-btn {
    @include border-start-radius(0);
  }
}

// Sizing
//
// Remix the default button sizing classes into new ones for easier manipulation.

.bt-btn-group-sm>.bt-btn {
  @extend .bt-btn-sm;
}

.bt-btn-group-lg>.bt-btn {
  @extend .bt-btn-lg;
}


//
// Split button dropdowns
//

.bt-dropdown-toggle-split {
  padding-right: $btn-padding-x * .75;
  padding-left: $btn-padding-x * .75;

  &::after,
  .bt-dropup &::after,
  .bt-dropend &::after {
    margin-left: 0;
  }

  .bt-dropstart &::before {
    margin-right: 0;
  }
}

.bt-btn-sm+.bt-dropdown-toggle-split {
  padding-right: $btn-padding-x-sm * .75;
  padding-left: $btn-padding-x-sm * .75;
}

.bt-btn-lg+.bt-dropdown-toggle-split {
  padding-right: $btn-padding-x-lg * .75;
  padding-left: $btn-padding-x-lg * .75;
}


// The clickable button for toggling the menu
// Set the same inset shadow as the :active state
.bt-btn-group.show .bt-dropdown-toggle {
  @include box-shadow($btn-active-box-shadow);

  // Show no shadow for `.bt-btn-link` since it has no other button styles.
  &.bt-btn-link {
    @include box-shadow(none);
  }
}


//
// Vertical button groups
//

.bt-btn-group-vertical {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  >.bt-btn,
  >.bt-btn-group {
    width: 100%;
  }

  >.bt-btn:not(:first-child),
  >.bt-btn-group:not(:first-child) {
    margin-top: calc(#{$btn-border-width} * -1); // stylelint-disable-line function-disallowed-list
  }

  // Reset rounded corners
  >.bt-btn:not(:last-child):not(.bt-dropdown-toggle),
  >.bt-btn-group:not(:last-child)>.bt-btn {
    @include border-bottom-radius(0);
  }

  // The top radius should be 0 if the button is:
  // - the "third or more" child
  // - the second child and the previous element isn't `.bt-btn-check` (making it the first child visually)
  // - part of a btn-group which isn't the first child
  >.bt-btn:nth-child(n + 3),
  > :not(.bt-btn-check)+.bt-btn,
  >.bt-btn-group:not(:first-child)>.bt-btn {
    @include border-top-radius(0);
  }
}